<div class="main-content">
  <div class="container-fluid">
   
    <div class="row">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">{{ id ? 'Actualizar' : 'Crear' }} Usuario</h4>
        </div>

        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <mat-form-field>
              <input matInput formControlName="id" name="id"
              placeholder="User" (keyup)="onFormChange()">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="name" name="name"
              placeholder="Nombre" (keyup)="onFormChange()">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="email" name="email" email
              placeholder="Correo Electrónico" (keyup)="onFormChange()">
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="type" name="type" placeholder="Tipo de Usuario"
              (selectionChange)="onFormChange()">
                <mat-option></mat-option>
                <mat-option *ngFor="let option of tiposUsuarios" [value]="option.id"> 
                  {{ option.name }} 
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="activo" name="activo" placeholder="Activo"
              (selectionChange)="onFormChange()">
                <mat-option *ngFor="let option of estatus" [value]="option.id"> 
                  {{ option.name }} 
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <button type="submit" class="btn btn-info btn-lg btn-block"  (click)="guardar()">Guardar</button>
          <button type="button" class="btn btn-danger btn-lg btn-block"  (click)="regresar()">Regresar</button>
        </div>

      </div>
    </div>
  </div>
</div>