<div class="main-content">
  <div class="container-fluid">

    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="p-l-10 pb-10">
                    <h2> Salas Disponibles </h2>
                </div>
                <div class="ml-auto p-r-20">
                    <span class="row">
                        <mat-form-field>
                            <mat-label>Buscar Sala</mat-label>
                            <input matInput type="text" (keyup)="applyFilter()" [(ngModel)]="filter">
                            <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Borrar" (click)="filter='';applyFilter()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <button mat-raised-button type="button" class="btn btn-white btn-raised btn-fab btn-fab-mini btn-round">
                            <mat-icon>search</mat-icon>
                        </button>
                    </span>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-6" *ngFor="let room of rooms">
                <div class="card">
                  
                  <div class="card-header">
                      <h3 class="card-title link" routerLink="/info-sala/{{ room.id }}">{{ room.name }}</h3>
                      <div class="row">
                          <h5 class="card-subtitle">{{ room.id }}</h5>
                          <h5 class="card-subtitle ml-auto">{{ room.manager_id }}</h5>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="row">
                        <div class="col-lg-12 col-md-6 d-flex m-card-image">
                          <img class="link img-fluid" [src]="room.path_image" [alt]="room.name" routerLink="/info-sala/{{ room.id }}">
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="row">
                                <div class="col-lg-8 col-md-12">
                                    <p>{{ room.description }}</p>
                                </div>
        
                                <div class="col-lg-4 col-md-6 col-md-offset-3">
                                    <button mat-raised-button color="primary" routerLink="/reserva/{{ room.id }}" class="fill-width p-init">Reservar</button>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>

  </div>
</div>
