.main-content {
    margin-top: 30px !important;
}

.m-10 {
    margin: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-30 {
    padding-bottom: 30px;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.p-l-10 {
    padding-left: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-20 {
    padding-right: 20px;
}

.hover-info:hover {
    color: #00acc1;
}

.mat-sidebar {
    background: #ff9800;
    color: white;
}

.mat-black {
    background: #3C4858;
    color: white;
}

.weight-400 {
    font-weight: 400;
}

.mat-stroked-button {
    border-color: #f44336;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.card-room {
    height: 390px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.card-header-warning {
    background: linear-gradient(60deg, #3C4858, black) !important;
}

.card-title {
    /* width: fit-content; */
    font-size: 1.5625rem;
    line-height: 1.4em;
    margin-right: 0px;
    text-align: center;
}

.m-card-image {
    margin-top: -20px;
    width: 260px;
    height: 190px;
    overflow: hidden;
    justify-content: center;
}

img {
    min-width: 100%;
    min-height: 100%;
}

.link {
    cursor: pointer;
}

.fill-width {
    width: 100%;
}

.filt {
    width: 50%;
    padding-left: 18px;
}